@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
  font-family: 'Nunito', sans-serif;
  padding: 0 16px;
  margin: 0 auto;
  box-sizing: border-box;
  text-decoration: none;
  color: #333333;
  max-width: 650px;

  display: flex ;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
}

footer {
  color: #888888;
  border-top: 1px solid #eeeeee;
  margin-top: 16px;
  padding: 16px 0;
}

header {
  margin-top: 16px;
  margin-bottom: 48px;
}

h1 {
  font-size: 56px;
  margin-bottom: 16px;
}

header a {
  text-decoration: none;
  color: #888888;
  margin-right: 16px;
}

.portrait {
  width: 250px;
}

li {
  list-style-type: none;
  color: rgb(56, 28, 28);
  font-weight: bold;
  font-size: 20px;
}

#message-one {
  font-weight: bold;
  color: rgb(109, 9, 9);
  font-size: 24px;
}

input {
  border: 1px solid #cccccc;
  padding: 8px;
}

button {
  cursor: pointer;
  border: 1px solid #888888;
  background: #888888;
  color: white;
  padding: 8px;
}